.TopButton {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
  top: 10px;
  right: 106px;
  background-color: #0079D3;
  color: white !important;
  border-radius: 5px;
  z-index: 10;
  text-align: center;
}

.TopButton:link, .Topbutton:visited, .TopButton:hover, .TopButton:active {
  text-decoration: none;
}

.TopButton.pulse {
  animation: pulse 150s infinite ease-in-out;
}

// the animation doesn't run 99% of the time so that pulse effect only plays every three minutes
@keyframes pulse {
  0% { transform: scale(1); }
  0.3% { transform: scale(0.9); }
  0.5% { transform: scale(1.1); }
  0.7% { transform: scale(0.9); }
  1% { transform: scale(1); }
}
