@import (reference) '~app/less/themes/themeify';

.adLinkBar {
  .themeify(
  @inDayMode: {
    background-color: #F6F7F8;
  };
  @inNightMode: {
    background-color: #272729;
  });
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 43px;
  padding-left: 16px;
  padding-right: 16px;

  &.__compactView {
    background-color: transparent;
    padding-left: 86px;
  }
  &.__compactNoImg {
    padding-left: 16px;
  }
}
